.md-flex-container
  =image_tag "coffee-3699657_1920.png", class: "self-introduction-image"
  .introduction
    .self-introduction
      %h1肩の専門家
      %h2僕たちは肩が痛い人、野球で痛みがある人、パフォーマンスを向上したい人のお手伝いをします。
    .Philosophy
      %h1一緒に治していく
      %h2神の手ではありません。共に考え共に治療を進めていきます。
.md-treatment-object-container
  .treatment-object-text
    %h1コンテンツ内容
    .treatment-objects
      .treatment-object
        %h2肩の痛み
        =image_tag "coffee-3699657_1920.png",class: "treatment-image"
        %h4説明
      .treatment-object
        %h2野球での痛み
        =image_tag "coffee-3699657_1920.png",class: "treatment-image"
        %h4説明
      .treatment-object
        %h2パフォーマンスアップ
        =image_tag "coffee-3699657_1920.png",class: "treatment-image"
        %h4説明
      .treatment-object
        %h2コンディショニング
        =image_tag "coffee-3699657_1920.png",class: "treatment-image"
        %h4説明
