// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lg-flex-container {
  width: 100%;
  height: 100vh;
  background: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  }

.md-flex-container {
  width: 100%;
  height: 70vh;
  background: white;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.self-introduction-image,.treatment-image {
  position:　absolute;
  width: 10em;
  height: 20em;
}

.introduction{
  width: calc(100% - 10em);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}

.md-treatment-object-container{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.treatment-objects{
  display: flex;
  margin-left: 10em;
}

.treatment-object{
  margin-right: 10em;
}

.md-contactform-container{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}

.md-addres-container{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}

.footer{
  background-color: rgb(100,100,100);
}

.footer-content{
  margin-right: 2em;
  display: inline-block;
  text-align: right;
}
